# Determine how cars are grouped

In [1]:
# Import Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.cluster import KMeans

In [2]:
# Load data
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Data Wrangling

## Drop strings

In [4]:
mpgTrim = mpg.drop(['origin', 'name'], axis=1)
mpgTrim.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  model_year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70

## Drop Missing Values

In [5]:
mpgTrim.dropna(inplace=True)

## Convert Floats to Integers

In [6]:
mpgTrim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 24.5 KB

In [7]:
mpgTrim.mpg = mpgTrim.mpg.astype(int)
mpgTrim.displacement = mpgTrim.displacement.astype(int)
mpgTrim.horsepower = mpgTrim.horsepower.astype(int)
mpgTrim.acceleration = mpgTrim.acceleration.astype(int)

## Perform k-Means Clustering

In [8]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(mpgTrim)

KMeans(n_clusters=2)

In [10]:
mpgTrim['Group'] = kmeans.labels_
mpgTrim.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,Group
0,18,8,307,130,3504,12,70,0
1,15,8,350,165,3693,11,70,0
2,18,8,318,150,3436,11,70,0
3,16,8,304,150,3433,12,70,0
4,17,8,302,140,3449,10,70,0

In [11]:
mpgTrim.groupby('Group').mean()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
Group,,,,,,,
0,16.314103,7.237179,301.653846,137.564103,3879.532051,14.237179,74.762821
1,27.889831,4.305085,123.521186,82.593220,2381.381356,15.813559,76.783898