# Determine how cars are grouped together using the MPG dataset

## Focus Skills:
### k-Means and KNNs

In [2]:
# Import Packagcolumnsrt pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.cluster import KMeans

In [3]:
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
# Column Names
for col in mpg.columns:
    print(col)

mpg
cylinders
displacement
horsepower
weight
acceleration
model_year
origin
name

In [6]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [10]:
# Change float to integer
mpg['mpg']=mpg['mpg'].astype(int)
mpg['displacement']=mpg['displacement'].astype(int)

In [14]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    int32
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int32
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(2), int32(2), int64(3), object(2)
memory usage: 25.0+ KB

In [46]:
mpgTrim3.horsepower = mpgTrim3.horsepower.astype(int)

C:\Users\nikki\AppData\Local\Temp\ipykernel_3984\4054944531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpgTrim3.horsepower = mpgTrim3.horsepower.astype(int)

In [49]:
# Adjusted from lesson guide
mpg['acceleration']=mpg['acceleration'].astype(int)

In [48]:
mpgTrim3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    int32
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    int32
 3   horsepower    392 non-null    int32
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    int32
 6   model_year    392 non-null    int64
 7   Group         392 non-null    int32
 8   (Group,)      392 non-null    int32
dtypes: int32(6), int64(3)
memory usage: 21.4 KB

In [21]:
# Lesson Guide: mpgTrim=mpg.drop(['origin, 'name'], axis=1)
mpgTrim = mpg.drop('origin', axis=1)

In [23]:
mpgTrim2=mpgTrim.drop('name', axis=1)
mpgTrim2.head()

   mpg  cylinders  displacement  horsepower  weight  acceleration  model_year
0   18          8           307       130.0    3504            12          70
1   15          8           350       165.0    3693            11          70
2   18          8           318       150.0    3436            11          70
3   16          8           304       150.0    3433            12          70
4   17          8           302       140.0    3449            10          70

In [26]:
# Lesson Guide = mpgTrim.dropna(inplace=True)
mpgTrim2.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
dtype: int64

In [28]:
mpgTrim3 = mpgTrim2.dropna()
mpgTrim3.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
dtype: int64

## Perform k-Means

In [29]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(mpgTrim3)

KMeans(n_clusters=2)

## Utilizing k-Means

In [30]:
kmeans.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [37]:
mpgTrim3['Group'] = kmeans.labels_

C:\Users\nikki\AppData\Local\Temp\ipykernel_3984\1382870776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mpgTrim3['Group'] = kmeans.labels_

In [38]:
mpgTrim3.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,Group,"(Group,)"
0,18,8,307,130.0,3504,12,70,1,1
1,15,8,350,165.0,3693,11,70,1,1
2,18,8,318,150.0,3436,11,70,1,1
3,16,8,304,150.0,3433,12,70,1,1
4,17,8,302,140.0,3449,10,70,1,1

In [42]:
# df.drop(['A'], axis=1)
mpgTrim3.drop(['('Group',)'], axis=1)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3896766422.py, line 1)

In [40]:
for col in mpgTrim3.columns:
    print(col)

mpg
cylinders
displacement
horsepower
weight
acceleration
model_year
Group
('Group',)

In [44]:
mpgFix = mpgTrim3[['mpg','cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'Group']]
mpgFix.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,Group
0,18,8,307,130.0,3504,12,70,1
1,15,8,350,165.0,3693,11,70,1
2,18,8,318,150.0,3436,11,70,1
3,16,8,304,150.0,3433,12,70,1
4,17,8,302,140.0,3449,10,70,1

In [50]:
mpgFix.groupby('Group').mean()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
Group,,,,,,,
0,27.889831,4.305085,123.521186,82.593220,2381.381356,15.813559,76.783898
1,16.314103,7.237179,301.653846,137.564103,3879.532051,14.237179,74.762821